# Mark everything as vendored by default
* linguist-vendored

# Allow React files and CSS to be recognized
*.jsx linguist-vendored=false
*.tsx linguist-vendored=false
*.css linguist-vendored=false

# Ensure JavaScript and HTML files are ignored
*.js linguist-detectable=false
*.html linguist-detectable=false
